apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  namespace: ${namespace}
type: Opaque
data:
%{ for database, password in databases }
  ${database}: ${base64encode(password)}
%{ endfor ~}
  
